POSTGRES_USER=simple

POSTGRES_PASSWORD=demon1

POSTGRES_DB=wiqms

FRONTEND_URL=http://localhost:3000

DATABASE_URL_LOCAL=postgres://simple:demon1@db:5432/wiqms

DATABASE_URL=*****************

JWT_SECRET=**********