<aside>
    <div class="sidebar-top">
        <div class="logo-title">Workshop IQ</div>
        <div class="logo-subtitle">Invoice & Quotation</div>
    </div>

    <nav>
        <small>Main</small>

        <ul>
            <li>
                <a href="/index.html" data-page="dashboard"> Dashboard </a>
            </li>

            <li>
                <a href="/customer.html" data-page="customers"> Customers </a>
            </li>
        </ul>

        <small>Documents</small>

        <ul>
            <li>
                <a href="/quotations.html" data-page="quotations">
                    Quotations
                </a>
            </li>

            <li>
                <a href="/invoices.html" data-page="invoices"> Invoices </a>
            </li>
        </ul>
        <small>Account</small>
        <ul>
            <li><a href="/settings.html" data-page="settings">Settings</a></li>
        </ul>
    </nav>

    <footer>
        <div class="user-avatar">NS</div>

        <div class="user-meta">
            <strong>Niteen Singh</strong>
            <small>Admin</small>
        </div>
    </footer>
</aside>
